{% extends "base.html" %}
{% block title %}Check a fishing licence{% endblock%}
{% block titlebar_service %}Check a fishing licence{% endblock %}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <h1>Check a fishing licence</h1>
      <form action="{{url_for('check_result')}}" method="get">
        <label>Enter a licence number
          <input type="text" name="q" />
          <button type="submit" class="button expand">Check</button>
        </label>
      </form>
    </div>
  </div>
{% endblock %}
