{% extends "base.html" %}
{% block title %}Your fishing licences{% endblock%}
{% block titlebar_service %}Your fishing licences{% endblock %}
{% block content %}

  <div class="row">
    <div class="small-12 columns" style="max-width:600px">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}

            {% for category, message in messages %}
            <div data-alert class="alert-box {% if category == 'error'%}alert{% else %}{{ category }}{% endif %}">
                {{ message }}
              </div>
            {% endfor %}

      {% endif %}
    {% endwith %}

      {% if licences %}
        {% for licence in licences %}
          <div class="panel ticket">
            <h2>
              <img src="{{url_for('static', filename='images/crest_grey.png')}}"/>
              HM Government
            </h2>
            <p>
              <a href="{{url_for('check_result')}}?q={{licence.uri|reference_number}}">
                <img src="{{url_for('static', filename='images/barcode.png')}}" width="100%" />
              </a>
              <span class="reference-number">{{ licence.uri|reference_number|pad_reference }}</span>
            </p>
            <h3>Fishing Rod Licence</h3>
            <p>
              <dl class="validity">
                <dt>Valid from: </dt>
                <dd>{{ licence.starts_at|format_date_time}}</dd>
                <dt>Valid to: </dt>
                <dd>{{ licence.ends_at|format_date_time}}</dd>
              </dl>
            </p>
          </div>
            
              <ul class="save-print">
                <li>
                  <a href="#">
                    <img src="{{url_for('static', filename='images/save_icon.png')}}" width="25"/>
                    Save offline
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="{{url_for('static', filename='images/print_icon.png')}}" width="25"/>
                    Print
                  </a>
                </li>
              </ul> 
          
      {% endfor %}

      {% else %}
        <p>
          No licences were found
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
